body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.data
{
    display:inline-block;
    width: 300px;
    border: 2px solid green;
    padding: 20px;
    border-radius:40px;
    margin: 20px;
}
