body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.data
{
    width: 300px;
    border: 2px solid green;
    padding: 25px;
    border-radius:5px;
    margin: 25px;
}
