body {
    font-family: sans-serif;
    background-color: lightgrey;

}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.data
{
    display:inline-block;
    width: 300px;
    border: 2px solid green;
    padding: 20px;
    border-radius:40px;
    margin: 20px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.main
{
    
    display:inline-block;
    width: 300px;
    border: 2px 8B0000;
    padding: 20px;
    border-radius:40px;
    margin: 20px;
    background: rgb(230, 240, 240);

}
.text
{
    font-family:"Times New Roman";
    font-size:20px;
    color:"blue";
    
}
